.paper {
    background: lightgray;
    height: 200px;
    width: 300px;
    margin: auto;
    padding: 5px;
}

.name-tag {
    background: red;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.greeting {
    display: block;
    height: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
    height: 100px;
    background: white;
    color: black;
    font-family: cursive;
    font-size: 2rem;
}