h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 25px 0;
    border: 2px solid green;
    padding: 20px;
}

h2 {
    font-size: 16px;
}

.color-list {
    background: pink;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    height: 300px;
}

.color-list li {
    display: flex;
    list-style: none;
    border: 1px solid black;
    background: white;
    height: 125px;
    width: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

